@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

.font_Rubik {
    font-family: "Rubik Glitch", serif;
}

.font_Exo {
    font-family: "Exo 2", serif;
}

.font_Slipstream {
    font-family: 'Slipstream';
}

header {
    z-index: 10;
    display: flex;
    height: 138px;
    max-height: 18vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(155, 167, 187, 0.431372549);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    -webkit-box-shadow: 0px 12px 17px 12px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 12px 17px 12px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 12px 17px 12px rgba(34, 60, 80, 0.25);
}

footer {
    height: 150px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #9ba7bb6e;
    backdrop-filter: blur(8px);
}

.menu {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}

.menu_p {
    display: flex;
    width: 100%;
    height: 13vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.menu_p nav {
    color: black;
    display: flex;
    width: 100%;
    line-height: 25px;
    text-align: center;
    justify-content: space-between;
    text-shadow: -8px 6px 3px rgba(0, 0, 0, 0.3019607843);
    align-items: center;
}

.menu_p nav a {
    color: #0b3c62;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
}

.menu_p nav a:hover {
    color: orange;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px #ff4b00, 0 0 35px #ff4b00, 0 0 40px #ff4b00, 0 0 50px #ff4b00, 0 0 75px #ff4b00;
}

.menu_p form {
    display: flex;
    height: 34px;
    background-image: url(../img/Search.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    flex-direction: row;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 17px;
    margin-left: 20px;
    overflow: hidden;
}

.menu_p form>input {
    width: 32px;
    height: 32px;
    font-size: 19px;
    transition: width 1s;
}

.menu_p>form>input:focus {
    display: block;
    width: 180px;
    margin: 3px 0px 3px 34px;
    padding-right: 12px;
}

.logo {
    height: 100%;
    max-width: 345px;
}

.call {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-image: url(../images/piclumen-406.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.frame {
    width: 100%;
    max-width: 1200px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

// .emergency_phone {
//     // /* width: 520px; */
//     // /* height: 220px; */
//     // background-color: rgba(255, 255, 255, 0.41);
//     // /* border-radius: 25px; */
//     // box-shadow: #0b3c62;
//     // -webkit-backdrop-filter: blur(8px);
//     // backdrop-filter: blur(8px);
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-direction: row;
//     width: 100%;
// }

.inframe_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 330px;
    width: 30%;
    max-height: 100%;
    height: 500px;
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(6px);
    background-color: rgb(255 255 255 / 31%);
    border-radius: 30px;
    box-shadow: 0px 12px 17px 12px rgb(34 60 80 / 67%);
}


h1 {
    font-family: "Blazma", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 35px;
    color: #f9541f;
    text-shadow: 1px 1px #732372, 1px -1px #732372, -1px 1px #732372, -1px -1px #732372, 3px 3px 6px rgba(0, 0, 0, 0.5);
}

// .phone {
//     font-family: "Blazma", sans-serif;
//     font-weight: 800;
//     font-style: normal;
//     font-size: 35px;
//     color: #db1940;
//     text-shadow: 1px 1px #732372, 1px -1px #732372, -1px 1px #732372, -1px -1px #732372, 3px 3px 6px rgba(0, 0, 0, 0.5);
// }

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap a {
    min-width: 600px;
    min-height: 60px;
    display: inline-flex;
    font-family: "Nunito", sans-serif;
    font-size: 27px;
    line-height: 160%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.3px;
    font-weight: 900;
    color: #f9541f;
    text-shadow: 1px 1px #732372, 1px -1px #732372, -1px 1px #732372, -1px -1px #732372, 3px 3px 6px rgba(0, 0, 0, 0.5);
    border: none;
    transition: all 0.3sease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    flex-direction: column;
}

.wrap a::before {
    content: "";
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.wrap a:hover,
.wrap a:focus {
    // color: #313133;
    transform: translateY(-6px);
}

.wrap a:hover::before,
.wrap a:focus::before {
    opacity: 1;
}

.wrap a::after {
    content: "";
    width: 75px;
    height: 30px;
    border-top-left-radius: 74% 66%;
    border-top-right-radius: 74% 66%;
    border-bottom-left-radius: 74% 66%;
    border-bottom-right-radius: 74% 66%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.wrap a:hover::after,
.wrap a:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 1px;
        height: 3px;
        opacity: 1;
        border: 2px solid red;
    }

    100% {
        width: 800px;
        height: 3px;
        opacity: 0;
        border: 75px solid #f09038;
    }
}

.inframe {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inframe_h2 {
    width: 100%;
    text-align: center;
}

.inframe_box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
    height: 45vh;
    align-items: flex-end;
}

h2 {
    font-size: 60px;
}