.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-left {
  float: left;
  padding: 17px 0px 17px;
  width: 17%;
}

.div-right {
  text-align: right;
  float: right;
  padding: 17px 0px 17px;
  width: 38%;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.container2 {
  text-align: center;
  margin: -68px auto 0 auto;
  width: 1200px;
  height: 340px;
}

.container3 {
  text-align: center;
  margin: 52px auto 0 auto;
  width: 1560px;
}

.hotels>.container2 {
  margin: 0 auto 0 auto;
}

.tours {
  height: 813px;
}

.hotels {
  background-color: #F8F8F8;
  height: 898px;
}

li {
  float: left;
  margin: 0px 15px;
  align-content: center;
}

.menu {
  text-decoration: none;
  margin: 0px 427px 0px 268px;
  padding-top: 33px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: black;
}

li.hot {
  font-weight: bold;
  color: red;
}

button {
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  padding: 3px 15px 0px 15px;
  height: 39px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  vertical-align: top;
  margin-right: 9px;
}

.container img {
  height: 26px;
  margin: 6px 5px auto 10px;
  vertical-align: middle;
}

.container img[alt="burger"] {
  height: 15px;
}

body>div>div.screen_1>div {
  position: absolute;
  top: 20%;
  left: 1%;
  right: 1%;

}

.spacer {
  height: 1px;
  clear: both;
}

.screen_1 {
  position: relative;
  display: inline-block;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 128px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.p-con2 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: white;
  height: 21px;
  position: absolute;
}

.day, .cost {
  padding: 3px 10px 3px 10px;
  margin-top: 41px;
  border-style: dashed;
  border: 1px solid white;
  border-radius: 30px;
}

.day {
  margin-left: 22px;
}

.cost {
  margin-left: 93px;
}

.land {
  border: none;
  font-weight: 400;
  margin-top: 220px;
  margin-left: 22px;
}

.p1 {
  padding-top: 134px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: black;
}

.p2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  padding-top: 15px;
}

.millanova {
  font-family: Millanova;
  font-size: 52px;
  font-style: normal;
  color: #D4D4D4;
}

.block1 {
  margin-left: -147px;
  margin-top: 69px;
}

.block2 {
  padding-left: 0px;
  padding-top: 180px;
  text-align: center;
}

.container2 img[alt="tour1"], .container2 img[alt="tour3"], .container2 img[alt="tour2"] {
  float: left;
  height: 340px;
  width: 256px;
  margin-right: 58px;
  margin-top: 18px;
}

.container2 img[alt="tour4"] {
  float: left;
  height: 340px;
  width: 256px;
  margin-left: auto;
  margin-top: 18px;
}

.container3 img {
  float: left;
  padding: 0px 0px 0px;
}

.container3 [src$="1.png"], .container3 [src$="3.png"] {
  height: 340px;
  width: 460px;
  padding-top: 30px;
}

.container3 [src$="2.png"] {
  height: 400px;
  width: 544px;
  margin-right: 32px;
  margin-left: 32px;
}

.hotels>.container>.p1 {
  padding-top: 0px;
  text-align: center;
  margin-top: -32px;
}

.hotels>.container>.p2 {
  text-align: center;
}