* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.head-footer {
    background-color: rgb(97, 214, 243);
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
}

.footer {
    padding: 33px
}

.bg1 {
    background: url('ball3.png');
    background-repeat: repeat-y;
    background-position: right top;
}

.bg2 {
    background-color: #ffffffd9;
}

.bg3 {
    background-image: url('2024-10-27_15-57-11.png');
    background-repeat: repeat-y;
    background-position: left;
}

.divMenu {
    float: left;
}

.p_menu {
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0px 0px 19px;
}

ul {
    font-size: 20px;
    padding: 15px 10px 35px 40px;
}

.div_h1 {
    margin-left: 250px;
}

h1 {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    padding: 0px 15px 25px 15px;
    text-align: justify;
    font-size: 24px;
}

img {
    float: left;
    margin-right: 20px;
    width: 350px;
}

span:first-of-type {
    font-weight: bold;
}

span:last-of-type {
    font-style: italic;
}

.spacer {
    height: 1px;
    clear: both;
}

.button {
    position: fixed;
    height: 50px;
    width: 115px;
    border: solid black 1px;
    background-color: rgb(80 243 168);
    top: 40px;
    right: 50px;
    align-content: center;
    text-align: center;
    font-size: 18px;
}
