* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat-font {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgba(36, 36, 36, 1);
}

.container {
    display: flex;
    flex-direction: column;
}

.block1 {
    height: 1024px;
    background: url(../img/Back_b1.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container1 {
    width: 1440px;
    margin: 0 auto;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    width: 253px;
    display: flex;
    align-items: center;
}

.label div:first-of-type {
    width: 107px;
    border-right: solid 1px #D9D9D9;
    display: flex;
}

.label div:last-of-type {
    width: 129px;
    height: 32px;
    font-family: Cuprum;
    font-size: 13px;
    line-height: 123%;
    color: white;
    margin-left: 17px;
}

.menu {
    width: 528px;
    height: 44px;
    font-family: Cuprum;
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}

.menu ul {
    width: 528px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.yandex {
    display: flex;
    align-items: center;
}


.contactme {
    width: 314px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactme div:nth-of-type(1) {
    height: 40px;
    width: 1px;
    border-left: white solid 1px;
}

.contactme button {
    width: 187px;
    height: 56px;
    border: #F8B806 solid 0px;
    border-radius: 10px;
    background-color: #F8B806;
    font-family: Inter;
    font-size: 16px;
}

.line {
    width: 100vw;
    border-bottom: white solid 1px;
}

.b1_title {
    display: flex;
    width: 1440px;
    justify-content: space-between;
    margin-top: 204px;
}

.b1_title div:nth-of-type(2) {
    color: white;
    font-size: 28px;
    line-height: 123%;
    font-weight: 500;
    margin-top: 16px;
}

.b1_title div:nth-of-type(3) {
    color: #242424;
    background-color: white;
    font-size: 18px;
    width: 260px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin-top: 32px;
}

h1 {
    font-size: 72px;
    font-weight: 700;
    color: white;
    line-height: 123%;
}

iframe {
    border-radius: 21px;
    width: 714px;
    height: 506px;
}

.block2 {
    height: 903px;
    display: flex;
    flex-direction: column;
}

.b2_1 {
    height: 787px;
}

.b2_1_1 {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242424;
}

.b2_1p {
    width: 600px;
    height: 55px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 45px;
    margin: -127.5px auto;
}

.b2_1_2 {
    height: 587px;
    display: flex;
    margin-top: 200px;
}

.b2_1_img1,
.b2_1_img2,
.b2_1_img3,
.b2_1_img4 {
    width: 479px;
    height: 587px;
    border: solid 0.5px black;
    font-family: Montserrat;
    line-height: 123%;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.b2_1_img1 {
    background-image: url(../img/build1.png);
}

.b2_1_img2 {
    background-image: url(../img/build2.png);
}

.b2_1_img3 {
    background-image: url(../img/build3.png);
}

.b2_1_img4 {
    background-image: url(../img/build4.png);
}

.b2_img1_p1,
.b2_img2_p1,
.b2_img3_p1,
.b2_img4_p1 {
    height: 42px;
    align-content: center;
    text-align: center;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.53);
    margin-top: 12px;
    border-radius: 0px 10px 10px 0;
    backdrop-filter: blur(25px);
    padding: 10px 20px;
    line-height: normal;
}

.b2_img1_p2,
.b2_img2_p2,
.b2_img3_p2,
.b2_img4_p2 {
    height: 42px;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.47);
    margin: 0 0 16px 20px;
    font-size: 29px;
    color: #FFFFFF;
    padding: 10px 10px;
}

.b2_button {
    width: 241px;
    height: 52px;
    border-radius: 10px;
    color: #F8B806;
    margin-top: 32px;
}

.b2_2 {
    display: flex;
    justify-content: center;
}

.b2_button p {
    line-height: 123%;
    font-family: 'Inter';
    font-size: 16px;
    color: #242424;
}

.block3 {
    height: 516px;
    background-color: #242424;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: url(../img/AbstractB2.png);
    background-repeat: no-repeat;
    background-position-x: 955px;
    background-position-y: 170.5px;
}

.container2 {
    width: 1440px;
    height: 431px;
    display: flex;
    justify-content: space-between;
}

.b3_con1 {
    width: 726px;
    height: 431px;
}

.b3_con2 {
    width: 682px;
    height: 431px;
}

.b3_con1 p {
    color: white;
    line-height: 123%;
}

.p1 {
    font-size: 45px;
    font-weight: 700;
}

.p2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 32px;
}

.p2 .p2_2 {
    line-height: 200%;
}

.p3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 105px;
}

.b3_con1_p4 {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.p4 {
    font-size: 19px;
    font-weight: 500;
}

img {
    max-width: 100%;
}

img[alt="RectangleB2"] {
    margin-right: 16px;
}

.block4 {
    display: flex;
    z-index: -1;
    position: relative;
    flex-direction: column;
}

.b4_1 {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b4_1p {
    width: 984px;
    height: 55px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 45px;
    margin: -86.5px auto;
    text-align: center;
}

.b4_2 {
    height: 520px;
    background-color: #242424;
    display: flex;
    margin-top: 118px;
    justify-content: center;
    align-items: center;
}

.container3 {
    width: 1440px;
    height: 456px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    text-align: center;
}

.prem1 {
    width: 345px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

.prem2 {
    width: 345px;
    height: 243px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

img[alt="Icon"] {
    margin-bottom: 20px;
}

.b4_3 {
    height: 42.78vw;
    background: url(../img/FrameB4.jpg) no-repeat;
    background-size: contain;
    position: relative;
    color: white;
    font-size: 12px;
    font-weight: 600;
    line-height: 118%;
    display: flex;
}

.b4_3_home {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
}

.butYel {
    border: 1px white solid;
    border-radius: 43px;
    background-color: #F8B806;
    width: 64px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 4px;
}

.circle {
    border-radius: 43px;
    background-color: white;
    width: 22px;
    height: 22px;
    color: black;
    font-size: 14px;
    align-content: center;
    text-align: center;
}

.b4_3 img {
    position: relative;
    top: 16px;
}

.h7 {
    left: 26.8%;
    top: 1.5%;
}

.h6 {
    left: 33.69%;
    top: 10%;
}

.h5 {
    left: 40.57%;
    top: 19.8%;
}

.h4 {
    left: 48%;
    top: 30.5%;
}

.h3 {
    left: 56.7%;
    top: 42%;
}

.h2 {
    left: 58%;
    top: 55%;
}

.h1 {
    left: 75%;
    top: 41%;
}

img[alt="LineRightYellow"] {
    position: relative;
    top: -12px;
    right: 3px;
    z-index: 0;
}

img[alt="LineLeft"] {
    position: relative;
    top: -12px;
    left: 10px;
    z-index: 0;
}

.b4_3_vogue {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 47px;
    position: absolute;
    right: 74%;
    top: 52.70%;
}

.b4_3_vogue .butYel {
    border: 1px white solid;
    border-radius: 43px;
    background-color: #F8B806;
    width: 62px;
    height: 24px;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 0;
    justify-content: center;
}

.butGreen {
    border: 1px white solid;
    border-radius: 43px;
    background-color: #099340;
    width: 62px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1;
}

.b4_3_park {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 47px;
    position: absolute;
    left: 50.3%;
    top: 9%;
}

.b4_3_garden1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 55px;
    position: absolute;
    left: 27.8%;
    top: 76%;
}

.b4_3_garden2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 55px;
    position: absolute;
    right: 28%;
    top: 60.8%;
}

img[alt="LineRight"] {
    position: relative;
    top: -12px;
    left: -10px;
    z-index: 0;
}

.butGreen1 {
    border: 1px white solid;
    border-radius: 43px;
    background-color: #099340;
    width: 96px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.butGreen2 {
    border: 1px white solid;
    border-radius: 43px;
    background-color: #099340;
    width: 96px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.block5 {
    height: 896px;
    flex-direction: column;
    align-items: stretch;
    background: url(../img/Abstract_Design.png) no-repeat;
    background-position: right bottom;
    z-index: -2;
    position: relative;
}

.b5_1 {
    height: 156px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b5_1p {
    width: 984px;
    height: 55px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 45px;
    margin: -105.5px auto;
    text-align: center;
}


.block5,
.b5_2,
.b5_2_plan,
.plan1,
.plan2 {
    display: flex;
}

.b5_2 {
    background-color: #3F3D42;
    background-image: url(../img/Abstract_Design.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 740px;
    justify-content: center;
    margin-top: 156px;
    align-items: center;
    color: #FFFFFF;
}

.b5_2_plan {
    width: 1440px;
    justify-content: space-between;
    align-items: flex-start;
}

.plan1 {
    width: 726px;
    height: 676px;
    flex-direction: column;
    justify-content: space-between;
}

.plan2 {
    width: 682px;
    height: 595px;
    flex-direction: column;
    justify-content: space-between;
}

.plan1>div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
}

.plan2 div:nth-of-type(1) {
    line-height: 123%;
    font-size: 28px;
    font-weight: 700;
}

.plan2 div:nth-of-type(2),
.plan2 div:nth-of-type(3) {
    line-height: 123%;
    font-size: 22px;
    font-weight: 500;
}

.plan2 div:nth-of-type(4) {
    line-height: 123%;
    font-size: 22px;
    font-weight: 600;
}

.plan2 div:nth-of-type(5) {
    line-height: 123%;
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
}

.plan2 div:nth-of-type(6) {
    display: flex;
    font-family: Inter;
    line-height: 123%;
    font-size: 16px;
    font-weight: 500;
    color: #242424;
    width: 682px;
    height: 60px;
    border-radius: 10px;
    background-color: #F8B806;
    justify-content: center;
    align-items: center;
}

.block6 {
    height: 1502px;
}

.b6_1 {
    height: 1368px;

}

.b6_1_con1 {
    height: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b6_1_con1>img:nth-of-type(1) {
    position: absolute;
    left: 0;
}

.b6_1_con1>img:nth-of-type(2) {
    position: absolute;
    right: 0;
    transform: scaleX(-1);
}

.b6_1_con1p {
    COLOR: white;
    line-height: 123%;
    font-size: 45px;
    font-weight: 700;
}

.b6_1_con2 {
    height: 1212px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.b6_1_con2>img:nth-of-type(1) {
    position: absolute;
    bottom: -80px;
    right: 159px;
}

.b6_1_con2_1 {
    width: 1440px;
    display: flex;
    height: 357px;
    justify-content: space-between;
}

.b6_1_con2_1p {
    width: 726px;
    display: flex;
    position: relative;
    color: white;
    font-size: 32px;
    line-height: 123%;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
}

.b6_p1,
.b6_p2 {
    position: absolute;
    font-family: "Tektur", sans-serif;
    font-size: 217px;
    font-weight: 700;
    display: block;
    color: white;
    line-height: 123%;
}

.b6_p1 {
    top: -48px;
    left: 0;
}

.b6_p2 {
    bottom: -42px;
    right: 0;
    transform: scaleY(-1) scaleX(-1);
}

.b6_1_con2_2 {
    display: flex;
    height: 823px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.b6_1_con2_2 ul {
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 500;
    height: 60px;
    background-color: #797979;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.block7 {
    height: 1008px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.b7 {
    height: 936px;
    width: 1680px;
    display: flex;
    color: white;
    justify-content: space-between;
    flex-direction: row;
}

.b7_1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.b7_1_p1 {
    width: 1125px;
    font-size: 58px;
    line-height: 123%;
    font-weight: 600;
    margin-bottom: 67px;
    position: absolute;
    top: 0;
    left: 0;
}

.b7_1_2 {
    display: flex;
    flex-direction: column;
    height: 727px;
}

.b7_1_p2 {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    height: 165px;
    justify-content: space-between;
}

.b7_1_p2 p:nth-of-type(1) {
    font-size: 45px;
    font-weight: 700;
    line-height: 123%;
}

.b7_1_p2 p:nth-of-type(2) {
    font-size: 32px;
    font-weight: 400;
    line-height: 123%;
}

.b7_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 922px;
    align-items: flex-end;
}

.b7_2_frame3 {
    height: 469px;
    width: 922px;
    background: url(../img/Frameb7_2-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.b7_2_3_footer {
    height: 91px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 20px;
    bottom: 23px;
    justify-content: space-between;
}

.b7_2_p {
    font-size: 20px;
    line-height: 123%;
    font-weight: 400;
}

.b7_2_but {
    width: 224px;
    height: 52px;
    border: #979797 1px solid;
    background-color: rgba(0, 0, 0, 0.47);
    border-radius: 10px;
    text-align: center;
    color: #F8B806;
    align-content: center;
    font-size: 16px;
    font-weight: 500;
}

.block8 {
    display: flex;
    height: 365px;
    background-color: #3F3D42;
    position: relative;
    justify-content: center;
}

.b8>img:nth-of-type(1) {
    position: absolute;
    left: 0;
    bottom: 0;
}

.block8>img:nth-of-type(1) {
    position: absolute;
    left: 974px;
    bottom: -11px;
    z-index: -1;
}

.b8 {
    background-color: #3F3D42;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b8_1 {
    display: flex;
    flex-direction: column;
    height: 301px;
    width: 1440px;
    justify-content: space-between;
    z-index: 1;
}

.b8_1>div:nth-of-type(1) {
    color: white;
    font-size: 28px;
    line-height: 123%;
    font-weight: 700;
}

form {
    display: flex;
    justify-content: space-between;
}

.b8_1 button {
    background-color: #F8B806;
    height: 72px;
    width: 469.33px;
    text-align: center;
    font-size: 16px;
    color: #242424;
    font-family: 'Inter';
    line-height: 123%;
    font-weight: 500;
    border-radius: 10px;
    border: #F8B806;
}

.b8_1 input {
    width: 469.33px;
    border-radius: 10px;
    background-color: #333335;
    border: #333335;
    font-size: 18px;
    font-weight: 500;
    padding-left: 24px;
    color: #858585;

}

.b8_1 input:nth-of-type(2) {
    color: #ffffff;
}

input[type="checkbox"]{
    height: 24px;
    width: 24px;
}
.checkbox {
    display: flex;
    font-size: 22px;
}
.checkbox p:nth-of-type(1){
    color: #FF3F3F;
    margin-left: 16px;
}
.checkbox p:nth-of-type(2){
    color: #F8B806;
}