@media all and (max-width: 850px) {
.menu {
    background:red;
    width: auto;
    float: none;
}

.banner {
    background: blue;
    height: 300px;
    width: 200px;
    display: none;
}

.content {
    background-color: aqua;
}
}