@media only screen and (min-width: 1220px) {
    .work {
        width: 358px;
    }
}

@media only screen and (max-width: 1220px) {
    .container {
        justify-content: space-evenly;
    }

    .sub_content {
        width: 37vw;
        height: 36vw;
        gap: 2vw;
    }

    .menu {
        flex-direction: column;
    }

    .menu_p {
        justify-content: center;
    }

    .menu_p nav {
        justify-content: space-around;
    }

    .bl_1_small {
        width: 62%;
    }

    .block_1 {
        position: absolute;
        margin-top: 0;
        top: 138px;
    }

    .block_2 {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 59vw;
    }

    .content {
        margin-left: 3vw;
        gap: 3.2vw;
        height: 59vw;
    }

    .about_us>img {
        position: relative;
        width: 54vw;
        justify-content: center;
    }

    .text1_b3 {
        font-size: 3.9vw;
        line-height: 4.6vw;
    }

    .text2_b3 {
        font-size: 2.4vw;
        line-height: 3.4vw;
    }

    .button_b3 {
        height: 17vw;
        gap: 3vw;
    }

    .call {
        gap: 3vw;
        width: 23vw;

        >div {
            display: flex;
            width: 18vw;
            flex-direction: column;
        }
    }

    .call_num {
        font-size: 2vw;
        line-height: 5vw;
    }

    .call_text {
        width: 12vw;
        font-size: 1.7vw;
        line-height: 2vw;
    }

    .block_4 {
        width: 100%;
        max-width: 1200px;
        height: auto;
        padding: 75px 0;

        >div {
            height: 1100px;
        }
    }

    .Testimonial {
        flex-direction: column;
        align-items: center;
    }

    .about_b2_WhatWeDo {
        width: 62.5vw;
    }

    .about_b2_Result {
        width: 62.5vw;
        height: 377px;
        gap: 41px;
    }

    .about_b2_Team_content {
        width: 62.5vw;
        height: 599px;
        gap: 40px;
    }

    .Client_Logo {
        width: 96%;
        justify-content: space-around;
    }

    .project_box {
        width: 43.67vw;
        height: 51.5vw;
    }

}

@media only screen and (max-width: 1130px) {

}        

@media only screen and (max-width: 900px) {
    .menu_p {
        flex-direction: column;
        gap: 8px;
    }

    .bl_1_small {
        justify-content: center;
    }

    .intro {
        width: 75vw;
        height: 43vw;
    }

    .intro_p div:nth-of-type(1) p {
        font-size: 9vw;
        line-height: 10vw;
    }

    .intro_p div:nth-of-type(2) p {
        font-size: 2.7vw;
        line-height: 4vw;
    }

    .intro_p {
        height: 28vw;
    }
}

@media only screen and (max-width: 580px) {
    .menu_p nav {
        justify-content: center;
        gap: 15px;
    }
}