* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font_DM_Serif {
  font-family: "DM Serif Display";
}

.font_Jost {
  font-family: "Jost";
}

.container,
.about_container,
.services_container,
.contact_us_container {
  width: 100%;
  background: url(../img/Line.png);
  background-repeat: repeat-y;
  background-position-x: center;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  gap: 150px;
  align-items: center;
  padding-top: 138px;
}

.about_container {
  height: 4971px;
}

.services_container {
  height: 5691px;
}

.contact_us_container {
  height: 2879px;
}

header {
  z-index: 10;
  display: flex;
  height: 138px;
  max-height: 25vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5098039216);
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.menu {
  max-width: 1200px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu_p {
  display: flex;
  width: 626px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}
.menu_p nav {
  color: black;
  display: flex;
  width: 572px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  justify-content: space-between;
}
.menu_p nav a {
  color: black;
  text-decoration: none;
}
.menu_p form {
  display: flex;
  height: 34px;
  background-image: url(../img/Search.png);
  background-repeat: no-repeat;
  background-position: 4px center;
  flex-direction: row;
  align-items: center;
  border: 1px solid darkgray;
  border-radius: 17px;
  margin-left: 20px;
  overflow: hidden;
}
.menu_p form > input {
  width: 32px;
  height: 32px;
  font-size: 19px;
  transition: width 1s;
}

.menu_p > form > input:focus {
  display: block;
  width: 180px;
  margin: 3px 0px 3px 34px;
  padding-right: 12px;
}

.logo {
  display: flex;
  height: 50px;
  width: 177px;
  font-family: "DM Serif Display";
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
}

.block_1 {
  background: url(../img/Banner_HP.webp);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  width: 100%;
  height: 54vw;
  justify-content: center;
}

.bl_1_small {
  max-width: 1200px;
  width: 96%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.intro {
  display: flex;
  width: 587px;
  height: 383px;
  flex-direction: column;
  justify-content: space-between;
}

.intro_p {
  display: flex;
  height: 287px;
  flex-direction: column;
  justify-content: space-between;
}
.intro_p div:nth-of-type(1) p {
  font-size: 85px;
  font-weight: 400;
  line-height: 106.25px;
}
.intro_p div:nth-of-type(2) p {
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.button_b1_1 {
  display: flex;
  border-radius: 18px;
  padding: 26px 48px;
  gap: 10px;
  width: 219.14px;
  height: 75px;
  background: #292f36;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.5px;
  letter-spacing: 0.02em;
}
.button_b1_1 > div {
  display: flex;
  width: 123.14px;
  height: 23px;
  justify-content: space-between;
  align-items: center;
}
.button_b1_1 > div > div {
  display: flex;
  align-items: center;
}

.block_2 {
  display: flex;
  gap: 66px;
  padding: 0 26px 0 26px;
  max-width: 1200px;
  width: 100%;
}

.work {
  display: flex;
  max-height: 225px;
  max-width: 96%;
  gap: 28px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.work > div {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.work > div > div:nth-of-type(1) {
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: center;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.work > div > div:nth-of-type(2) {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.block_3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.about_us {
  display: flex;
  max-width: 1200px;
  width: 96%;
  height: 700px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.content {
  display: flex;
  height: 614px;
  gap: 45px;
  flex-direction: column;
}

.sub_content {
  display: flex;
  width: 472px;
  height: 354px;
  gap: 33px;
  flex-direction: column;
  justify-content: space-between;
}

.button_b3 {
  display: flex;
  width: 277px;
  height: 215px;
  gap: 47px;
  flex-direction: column;
  justify-content: space-between;
}
.button_b3 button {
  color: white;
  display: flex;
  width: 238.14px;
  height: 75px;
  padding: 26px 31px 26px 31px;
  gap: 10px;
  border-radius: 18px;
  background: #292f36;
  box-shadow: 10px 10px 9px 0px rgba(192, 192, 192, 0.35);
}
.button_b3 button > div {
  display: flex;
  width: 176.14px;
  height: 23px;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.5px;
  letter-spacing: 0.02em;
  text-align: center;
}

.call {
  display: flex;
  width: 277px;
  height: 93px;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.text1_b3 {
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 0.02em;
  text-align: left;
}

.text2_b3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.call_num {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-align: left;
}

.call_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.block_4 {
  display: flex;
  background: #f4f0ec;
  width: 1199px;
  height: 679px;
  gap: 0px;
  border-radius: 70px;
  justify-content: center;
  align-items: center;
}
.block_4 > div {
  display: flex;
  height: 503px;
  gap: 38px;
  flex-direction: column;
  align-items: center;
}

.Heading {
  width: 547px;
  height: 126px;
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 0.02em;
  text-align: center;
}

.Testimonial {
  display: flex;
  height: 339px;
  gap: 20px;
}
.Testimonial > div {
  display: flex;
  width: 370px;
  height: 339px;
  background: white;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 36px;
  align-items: center;
}
.Testimonial > div > div {
  display: flex;
  width: 296px;
  height: 286px;
  padding: 0px 0px 54px 0px;
  gap: 25px;
  flex-direction: column;
}

.person {
  display: flex;
  height: 77px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.person > img {
  margin-right: 23px;
}

.bl4_text {
  height: 184px;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.person_name {
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.01em;
  text-align: left;
}

.person_state {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: left;
}

.Client_Logo {
  display: flex;
  width: 1090.39px;
  height: 102.32px;
  justify-content: space-between;
  align-items: center;
}

.Project {
  display: flex;
  flex-direction: column;
  max-width: 1201px;
  width: 96%;
  max-height: 1541px;
  gap: 93px;
  align-items: center;
}

.Project_text1 {
  display: flex;
  flex-direction: column;
  width: 737px;
  height: 137px;
  gap: 8px;
}
.Project_text1 > p:nth-of-type(1) {
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 0.02em;
  text-align: center;
}
.Project_text1 > p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
}

.Project_pictures {
  display: flex;
  width: 100%;
  max-height: 1311px;
  gap: 56px;
  flex-direction: column;
  justify-content: space-between;
}
.Project_pictures > div {
  display: flex;
  max-height: 619px;
  justify-content: space-between;
}

.project_box {
  display: flex;
  width: 548px;
  height: 619px;
  flex-direction: column;
  justify-content: space-between;
}

.project_box_text {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
.project_box_text > div {
  display: flex;
  flex-direction: column;
}

.text1_b6 {
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.02em;
  text-align: left;
}

.text2_b6 {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.project_img1,
.project_img2,
.project_img3,
.project_img4 {
  overflow: hidden;
}

.project_img1 {
  border-radius: 0px 80px 0px 0px;
}

.project_img2 {
  border-radius: 80px 0px 0px 0px;
}

.project_img3 {
  border-radius: 0px 0px 80px 0px;
}

.project_img4 {
  border-radius: 0px 0px 0px 80px;
}

.block_7 {
  display: flex;
  height: 457px;
  width: 100%;
  background-color: #f4f0ec;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.Counter {
  display: flex;
  width: 1200px;
  height: 155px;
  justify-content: space-between;
  align-items: center;
}

.counter_b7 {
  height: 155px;
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.count {
  font-size: 85px;
  font-weight: 400;
  line-height: 106.25px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgb(205, 162, 116);
}

.text_b7 {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.border {
  height: 130px;
  border: 1px solid rgb(205, 162, 116);
}

.block_8 {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 52px;
  flex-direction: column;
  align-items: center;
}
.block_8 > .Heading_b8 {
  display: flex;
  width: 811px;
  height: 141px;
  gap: 12px;
  flex-direction: column;
}
.block_8 > .Heading_b8 > p:nth-of-type(1) {
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 0.02em;
  text-align: center;
}
.block_8 > .Heading_b8 > p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
}

.Blog_b8 {
  position: relative;
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 18px;
  justify-content: space-between;
  padding: 0 9px 0 9px;
}

.b8_1,
.b8_2,
.b8_3 {
  display: flex;
  position: relative;
  width: 382px;
  height: 521px;
  gap: 10px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  align-items: center;
  justify-content: center;
}

.b8_2 {
  background-color: rgb(244, 240, 236);
}

.content_b8_1 {
  display: flex;
  width: 340px;
  height: 479px;
  gap: 13px;
  flex-direction: column;
}

.content_b8_1_back1 {
  position: relative;
  width: 340px;
  height: 289.27px;
  border-radius: 45px 45px 0px 0px;
  background-image: url(../img/BlogPhoto1.png);
  background-repeat: no-repeat;
  background-size: 622.62px 415.08px;
  background-position: -163.43px -65.5px;
  overflow: hidden;
}

.content_b8_1_back2 {
  position: relative;
  width: 340px;
  height: 289.27px;
  border-radius: 45px 45px 0px 0px;
  background-image: url(../img/BlogPhoto2.png);
  background-repeat: no-repeat;
  background-size: 580px 386px;
  background-position: -119px -48px;
  overflow: hidden;
}

.content_b8_1_back3 {
  position: relative;
  width: 340px;
  height: 289.27px;
  border-radius: 45px 45px 0px 0px;
  background-image: url(../img/BlogPhoto3.png);
  background-repeat: no-repeat;
  background-size: 945px 630px;
  background-position: -324px -138px;
  overflow: hidden;
}

.tag_b8_1 {
  position: absolute;
  display: flex;
  background-color: white;
  width: 124px;
  height: 41px;
  top: 228px;
  left: 20px;
  border-radius: 8px 8px 8px 0px;
  align-items: center;
  justify-content: center;
}
.tag_b8_1 > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.subcontent_b8_1 {
  display: flex;
  height: 152px;
  gap: 21px;
  flex-direction: column;
}
.subcontent_b8_1 > p {
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  letter-spacing: 0.02em;
  text-align: left;
}

.date_b8_1 {
  display: flex;
  height: 52px;
  justify-content: space-between;
  align-items: center;
}
.date_b8_1 > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.block_9 {
  display: flex;
  max-width: 1199px;
  width: 100%;
  height: 374px;
  gap: 10px;
  border-radius: 70px;
  background: rgb(41, 47, 54);
  align-items: center;
  justify-content: center;
}

.contact_b9 {
  display: flex;
  flex-direction: column;
  width: 569px;
  height: 214px;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}
.contact_b9 > div {
  display: flex;
  flex-direction: column;
  height: 107px;
  gap: 11px;
  color: white;
}
.contact_b9 > div > p:nth-of-type(1) {
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  text-align: center;
}
.contact_b9 > div > p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 577px;
  justify-content: space-between;
  align-items: center;
}

.map {
  display: flex;
  flex-direction: row;
  max-width: 1199px;
  width: 96%;
  height: 370px;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright {
  display: flex;
  width: 100%;
  height: 73px;
  border-top: 1px solid rgb(229, 229, 229);
  justify-content: center;
  align-items: center;
  background-color: white;
}
.copyright > p {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.logo_map {
  display: flex;
  flex-direction: column;
  width: 393px;
  height: 188px;
  gap: 31px;
}

.logo_map_1 {
  display: flex;
  flex-direction: column;
  height: 134px;
  gap: 18px;
}

.text_logo {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.icons_soc {
  display: flex;
  flex-direction: row;
  width: 225px;
  height: 23px;
  gap: 54px;
  justify-content: space-between;
  align-items: center;
}

.pages_map,
.services_map {
  width: 125px;
  height: 370px;
  gap: 9px;
}
.pages_map > p:nth-of-type(1),
.services_map > p:nth-of-type(1) {
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: left;
}
.pages_map > p:nth-of-type(2),
.pages_map > a,
.services_map > p:nth-of-type(2),
.services_map > a {
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.01em;
  text-align: left;
}

a {
  color: black;
  text-decoration: none;
}

.services_map {
  width: 120px;
}

.contact_map {
  width: 258px;
  height: 272px;
}
.contact_map > p:nth-of-type(1) {
  font-family: "DM Serif Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: left;
}
.contact_map > p:nth-of-type(2) {
  padding-top: 16px;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}
.contact_map > p:nth-of-type(2) span {
  font-size: 22px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.01em;
  text-align: left;
}

/* About Us */
.about_block_1 {
  display: flex;
  background: url(../img/Background_ab.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 18.54vw;
  justify-content: center;
  align-items: flex-end;
}

.about_b1_1 {
  display: flex;
  width: 503px;
  height: 178px;
  background: rgb(255, 255, 255);
  gap: 10px;
  border-radius: 37px 37px 0px 0px;
  justify-content: center;
  align-items: center;
}

.about_b1_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_b1_intro > p:nth-of-type(1) {
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  text-align: left;
}
.about_b1_intro > p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}

.about_block_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3518px;
  justify-content: space-between;
  align-items: center;
}

.about_b2_quotes_1 {
  display: flex;
  width: 875px;
  height: 428px;
  justify-content: space-between;
  align-items: center;
}

.about_b2_quotes_2 {
  position: absolute;
  display: flex;
  width: 875px;
  height: 428px;
  align-items: center;
  justify-content: center;
}

.about_b2_quotes_patternL {
  width: 188.5px;
  height: 428px;
  border-radius: 70px 0px 0px 70px;
  border-top: 25px solid rgb(244, 240, 236);
  border-bottom: 25px solid rgb(244, 240, 236);
  border-left: 25px solid rgb(244, 240, 236);
}

.about_b2_quotes_patternR {
  width: 188.5px;
  height: 428px;
  border-radius: 0px 70px 70px 0px;
  border-top: 25px solid rgb(244, 240, 236);
  border-bottom: 25px solid rgb(244, 240, 236);
  border-right: 25px solid rgb(244, 240, 236);
}

.about_b2_quotes_text {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 751px;
  height: 294.25px;
}
.about_b2_quotes_text > p {
  font-size: 85px;
  font-style: italic;
  font-weight: 400;
  line-height: 106.25px;
  letter-spacing: 0.02em;
  text-align: center;
}

.about_b2_quotes_text_comment {
  display: flex;
  flex-direction: column;
  height: 205.25px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.about_b2_quotes_text_comment > p:nth-of-type(1) {
  font-size: 35px;
  font-style: italic;
  font-weight: 400;
  line-height: 43.75px;
  letter-spacing: 0.02em;
  text-align: center;
}
.about_b2_quotes_text_comment > p:nth-of-type(2) {
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.01em;
  text-align: center;
}

.about_b2_WhatWeDo {
  display: flex;
  width: 1200px;
  height: 377px;
  gap: 41px;
  justify-content: center;
  align-items: center;
}

.about_b2_content,
.about_b2_Res_content {
  display: flex;
  width: 500px;
  height: 334px;
  flex-direction: column;
  gap: 41px;
}

.about_b2_img,
.about_b2_Res_img {
  display: flex;
  width: 659px;
  height: 377px;
  background-image: url(../img/Photo_Ab.jpg);
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 70px;
}

.about_b2_button {
  color: white;
  display: flex;
  width: 220.14px;
  height: 75px;
  padding: 26px 31px 26px 31px;
  gap: 10px;
  border-radius: 18px;
  background: #292f36;
  box-shadow: 10px 10px 9px 0px rgba(192, 192, 192, 0.35);
  justify-content: center;
}
.about_b2_button > div {
  display: flex;
  width: 176.14px;
  height: 23px;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.02em;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.about_b2_button .about_b2_button_mail {
  width: 112.14px;
  gap: 9px;
}
.about_b2_button .about_b2_button_mail > input {
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.02em;
  text-align: center;
}

.about_b2_Result {
  display: flex;
  width: 1200px;
  height: 377px;
  gap: 41px;
  justify-content: space-between;
  align-items: center;
}

.about_b2_Res_img {
  background-image: url(../img/Image_Ab.png);
}

.about_b2_Res_content {
  width: 452px;
}

.about_b2_sub_content {
  display: flex;
  width: 452px;
  height: 218px;
  gap: 23px;
  flex-direction: column;
  justify-content: space-between;
}

.about_b2_Team {
  display: flex;
  width: 100%;
  height: 968px;
  background: rgb(244, 240, 236);
  justify-content: center;
  align-items: center;
}

.about_b2_Team_content {
  display: flex;
  width: 1200.19px;
  height: 599px;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}

.about_b2_Team_content_Heading {
  width: 547px;
  height: 126px;
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 0.02em;
  text-align: center;
}

.about_b2_Team_content_Images {
  display: flex;
  width: 100%;
  height: 433px;
  justify-content: space-between;
}
.about_b2_Team_content_Images > div {
  width: 283.55px;
  height: 433px;
  border-radius: 30px;
  background-image: url(../img/Photo_Ab1.png);
  background-repeat: no-repeat;
  background-position: -175.04px;
  background-size: 679.7px;
}
.about_b2_Team_content_Images > div:nth-of-type(2) {
  background-image: url(../img/Photo_Ab2.jpeg);
  background-position: -472.21px -25.59px;
  background-size: 788.2px;
}
.about_b2_Team_content_Images > div:nth-of-type(3) {
  display: flex;
  width: 283.55px;
  border-radius: 30px;
  background-image: none;
  background-color: white;
  align-items: center;
  justify-content: center;
}
.about_b2_Team_content_Images > div:nth-of-type(4) {
  background-image: url(../img/Photo_Ab3.png);
  background-position: -214px -102.36px;
  background-size: 583.48px;
}

.about_b2_Team_content_Details {
  display: flex;
  flex-direction: column;
  width: 277.25px;
  height: 292.47px;
  align-items: center;
  justify-content: space-between;
}
.about_b2_Team_content_Details > div:nth-of-type(1) {
  width: 227.25px;
  height: 63.47px;
}
.about_b2_Team_content_Details > div:nth-of-type(1) > p:nth-of-type(1) {
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.01em;
  text-align: center;
}
.about_b2_Team_content_Details > div:nth-of-type(1) > p:nth-of-type(2) {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: center;
}
.about_b2_Team_content_Details > div:nth-of-type(2) {
  display: flex;
  width: 147.4px;
  height: 21.99px;
  justify-content: space-between;
  align-items: center;
}
.about_b2_Team_content_Details > div:nth-of-type(3) {
  display: flex;
  width: 222.27px;
  height: 75.47px;
  align-items: center;
  justify-content: center;
}
.about_b2_Team_content_Details > div:nth-of-type(3) > p:nth-of-type(1) {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  text-align: center;
}

.about_b2_Mail {
  display: flex;
  width: 796px;
  height: 632px;
  gap: 77px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.about_b2_Mail > div:nth-of-type(1) {
  width: 634px;
  height: 126px;
}
.about_b2_Mail > div:nth-of-type(1) > p {
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  letter-spacing: 0.02em;
  text-align: center;
}
.about_b2_Mail > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 429px;
  justify-content: space-between;
  align-items: center;
}
.about_b2_Mail > form > div:nth-of-type(1) {
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: space-between;
}
.about_b2_Mail > form > div:nth-of-type(1) > div > input {
  width: 378px;
  height: 45px;
  border-bottom: 1px solid black;
  color: #4D5053;
  font-family: "Jost";
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
}
.about_b2_Mail > form > div:nth-of-type(2) {
  width: 100%;
  height: 175px;
}
.about_b2_Mail > form > div:nth-of-type(2) > textarea {
  width: 100%;
  height: 175px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
  border-bottom: 1px solid black;
}

.services {
  background: url(../img/Photo_Serv.jpg);
}

.services_head {
  display: flex;
  width: 100%;
  height: 4375px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.services_head_block1 {
  display: flex;
  width: 1158px;
  height: 704px;
  flex-direction: column;
  justify-content: space-between;
}

.services_head_block1_1row {
  display: flex;
  width: 100%;
  height: 225px;
  justify-content: space-between;
  align-items: center;
}

.services_head_block1_2row {
  display: flex;
  width: 100%;
  height: 391px;
  justify-content: space-between;
  align-items: center;
}

.card_mini {
  display: flex;
  width: 358px;
  height: 225px;
  gap: 52px;
  flex-direction: column;
  align-items: center;
}
.card_mini > div {
  display: flex;
  height: 150px;
  gap: 20px;
  flex-direction: column;
}
.card_mini > div > p:nth-of-type(1) {
  font-size: 25px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: center;
  color: #292F36;
}
.card_mini > div > p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #4D5053;
}

.button_read_more {
  display: flex;
  width: 120.14px;
  height: 23px;
  justify-content: space-between;
  align-items: center;
}
.button_read_more > a {
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #4D5053;
}

.card_mini_back {
  display: flex;
  width: 398px;
  height: 391px;
  gap: 10px;
  border-radius: 30px;
  background: #F4F0EC;
  justify-content: center;
  align-items: center;
}

.services_head_block2 {
  display: flex;
  width: 1199px;
  height: 2718.42px;
  gap: 10px;
  border-radius: 70px;
  background: #F4F0EC;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.services_head_block3 {
  width: 1199px;
  height: 374px;
  gap: 10px;
  border-radius: 70px;
  background: #292F36;
}

.services_head_block2_content {
  display: flex;
  width: 967px;
  height: 2398.42px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.services_head_block2_content_head {
  display: flex;
  width: 802px;
  height: 146px;
  flex-direction: column;
  justify-content: space-between;
}
.services_head_block2_content_head > p:nth-of-type(1) {
  font-size: 50px;
  font-weight: 400;
  line-height: 62.5px;
  text-align: center;
  color: #363B41;
}
.services_head_block2_content_head > p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #4D5053;
}

.services_head_block2_content_works {
  display: flex;
  flex-direction: column;
  height: 2152.42px;
  width: 100%;
  justify-content: space-between;
}
.services_head_block2_content_works > div {
  display: flex;
  height: 485.6px;
  justify-content: space-between;
  align-items: center;
}

.services_head_block2_content_works_text {
  display: flex;
  width: 456px;
  height: 314px;
  flex-direction: column;
  justify-content: space-between;
}
.services_head_block2_content_works_text > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services_head_block2_content_works_text > div:nth-of-type(2) {
  height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services_head_block2_content_works_text > div:nth-of-type(1) > p {
  font-family: "DM Serif Display";
  font-size: 120px;
  font-weight: 400;
  line-height: 150px;
  text-align: center;
  color: white;
}
.services_head_block2_content_works_text > div:nth-of-type(2) > p:nth-of-type(1) {
  font-size: 35px;
  font-weight: 400;
  line-height: 43.75px;
  text-align: left;
  color: #292F36;
}
.services_head_block2_content_works_text > div:nth-of-type(2) > p:nth-of-type(2) {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #4D5053;
}

.button_biege {
  display: flex;
  width: 237.14px;
  height: 75px;
  gap: 10px;
  border-radius: 18px;
  background: rgb(205, 162, 116);
  box-shadow: 0px 10px 20px 0px rgb(31, 32, 34);
  align-items: center;
  justify-content: center;
  color: white;
}
.button_biege > div {
  display: flex;
  width: 163.14px;
  height: 23px;
  gap: 11px;
  align-items: center;
  justify-content: space-between;
}
.button_biege > div > p {
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.02em;
  text-align: center;
}

.contact_us {
  background: url(../img/Photo_Contact.jpg);
}

.sitymap {
  position: relative;
  width: 1200px;
  height: 501px;
  background: #292F36;
  border-radius: 45px;
}
.sitymap iframe {
  position: relative;
  z-index: 0;
  border-radius: 45px;
  width: 100%;
  height: 501px;
}/*# sourceMappingURL=style.css.map */