.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.menu,
button,
.p-con2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
}

.div-left {
  padding: 17px 0px 17px;
  width: 17%;
}

.div-right {
  text-align: right;
  padding: 17px 0px 17px;
  width: 38%;
}

.container {
  margin: 0 auto;
  width: 1120px;
}

.container2 {
  text-align: center;
  margin: -68px auto 0 auto;
  width: 1120px;
  height: 340px;
}

.container3 {
  margin: 52px auto 0 auto;
  width: 1528px;
}

.hotels>.container2 {
  margin: 0 auto 0 auto;
}

.tours {
  height: 813px;
}

.hotels {
  background-color: #F8F8F8;
  height: 898px;
}

li {
  float: left;
  margin: 0px 15px;
  align-content: center;
}

.menu {
  text-decoration: none;
  margin: 0px 427px 0px 265px;
  padding-top: 33px;
  color: black;
}

.hot {
  font-weight: bold;
  color: red;
}

button {
  border-style: solid;
  border-width: thin;
  border-radius: 20px;
  padding: 3px 15px 0px 15px;
  height: 39px;
  font-weight: bold;
  vertical-align: top;
  margin-right: 9px;
}

.div-right img,
.div-left img {
  height: 26px;
  margin: 6px 5px auto 10px;
  vertical-align: middle;
}

.container img[alt="burger"] {
  height: 15px;
}

body>div>div.screen_1>div {
  position: absolute;
  top: 20%;
  left: 1%;
  right: 1%;
}

.spacer {
  height: 0px;
  clear: both;
}

.screen_1 {
  position: relative;
  display: inline-block;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 128px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.p-con2 {
  color: white;
  position: absolute;
}

.daycost {
  margin-top: 38px;
  margin-left: 20px;
}

.daycost>div {
  padding: 3px 10px 3px 10px;
  border-style: dashed;
  border: 1px solid white;
  border-radius: 30px;
  font-weight: 300;
  float: left;
}

.daycost>div:nth-child(2) {
  margin-left: 10px;
}

.date {
  font-weight: 400;
  margin-top: 300px;
  margin-left: 20px;
}

.details {
  margin-top: 322px;
  margin-left: 20px;
  font-weight: 200;
}

img[alt='line'] {
  margin-left: 12px;
}

.lps {
  margin-top: 278px;
  margin-left: 20px;
}

div.lps>div:nth-child(2n+1) {
  float: left;
  padding-top: 2px;
}

div.lps>div:nth-child(2) {
  padding-left: 5px;
  padding-right: 5px;
  float: left;
}

.p1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: black;
  padding-top: 134px;
}

.p2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  padding-top: 12px;
}

.millanova {
  font-family: Millanova;
  font-size: 52px;
  font-style: normal;
  color: #D4D4D4;
}

.block1 {
  margin-left: -147px;
  margin-top: 69px;
}

.block2 {
  padding-left: 0px;
  padding-top: 173px;
  text-align: center;
}

.container2 img[alt="tour1"],
.container2 img[alt="tour3"],
.container2 img[alt="tour2"] {
  float: left;
  height: 340px;
  width: 256px;
  margin-right: 32px;
  margin-top: 18px;
}

.container2 img[alt="tour4"] {
  float: left;
  height: 340px;
  width: 256px;
  margin-left: auto;
  margin-top: 18px;
}

.container3 img[alt='star_white'] {
  margin-top: -10px;
  position: absolute;
}

.container3 [src$="1.png"],
.container3 [src$="3.png"] {
  margin-top: 30px;
  float: left;
}

.container3 [src$="2.png"] {
  margin-right: 32px;
  margin-left: 32px;
  float: left;
}

.hotels>.container>.p1 {
  padding-top: 0px;
  text-align: center;
  margin-top: -32px;
}

.hotels>.container>.p2 {
  text-align: center;
}

.stars {
  font-family: Chandra;
  font-size: 65px;
  margin-top: 60px;
  margin-left: 328px;
}

.stars2 {
  font-family: Chandra;
  font-size: 65px;
  margin-top: 30px;
  margin-left: 492px;
}

.name {
  margin-top: 288px;
  margin-left: 35px;
  font-size: 28px;
}

.name2 {
  margin-top: 318px;
  margin-left: 67px;
  font-size: 28px;
}

.details_H {
  margin-top: 322px;
  margin-left: 35px;
  font-weight: 200;
}

.details_H2 {
  margin-top: 353px;
  margin-left: 67px;
  font-weight: 200;
}

/* Блок 4 */

.container4 {
  background: url(../img/4_экран.png) no-repeat;
  height: 605px;
  padding-top: 1px;
}

.c4_block1 {
  background-color: white;
  width: 1120px;
  height: 133px;
  margin: 452px auto 20px auto;
  border-radius: 30px;
}

.c4_p1 {
  font-family: Roboto;
  line-height: normal;
  width: 236px;
  height: 56px;
  font-size: 24px;
  margin: 39px 0px auto 64px;
}

.c4_p1 span {
  font-style: italic;
}

.c4_p2 {
  font-family: Roboto;
  line-height: normal;
  width: 208px;
  height: 57px;
  font-size: 16px;
  font-weight: 300;
  margin: 38px 0px 0px 79px;
}

.c4_p3 {
  font-family: Roboto;
  line-height: normal;
  width: 144px;
  height: 49px;
  font-size: 12px;
  font-weight: 300;
  margin: 42px 0px 0px 79px;
  color: #BDBDBD;
}

img[alt="Line_12"] {
  margin-bottom: 5px;
}

.c4_p4 {
  background-color: #EC1C24;
  border-radius: 30px;
  font-family: Roboto;
  line-height: 20px;
  width: 168px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  margin: 46px 0px 0px 79px;
  color: #ffff;
  padding: 11px 0px 10px 28px;
}

/* Блок 5 */

.Reviews {
  height: 940px;
  padding-top: 75px;
}

.container5 {
  margin: 67px auto 0 auto;
  width: 1120px;
  font-family: Roboto, sans-serif;
}

.c5_h1 {
  text-align: center;
  height: 268px;
  width: 250px;
  margin: 0px auto 0px auto;
  padding-top: 90px;
}

.c5_p1 {
  text-align: center;
  margin: -169px auto 0px auto;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  color: black;
}

.c5_p2 {
  text-align: center;
  margin: 12px auto 0px auto;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
}

.c5_block1,
.c5_block2 {
  width: 352px;
  background-color: #F8F8F8;
  border-radius: 30px;
  text-align: center;
  padding: 27px 24px 32px;
}

.c5_block2 {
  margin: 0 32px;
}

.avatar {
  height: 64px;
}

.stars5 {
  width: 140px;
  margin: 18px auto;
}

.c5_name {
  clear: both;
  font-size: 12px;
  font-weight: 300;
  padding-top: 9px;
  color: #6B6B6B;
}

.c5_name2 {
  font-size: 12px;
  font-weight: 300;
  padding-top: 5px;
  color: #6B6B6B;
}

.star_red {
  margin: 0 3px;
}

.c5_name3 {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  padding-top: 20px;
  line-height: 22px;
}

.c5_name4 {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  padding-top: 14px;
  line-height: 22px;
}

/* Блок 6 */

.container6 {
  height: 964px;
  background-color: #F8F8F8
}

.block6 {
  margin-left: -121px;
  margin-top: 58px;
}

.container6_1 {
  margin: -45px auto;
  width: 1120px;
}

.c6_news {
  margin: 0px 32px 0px 32px;
}

.c6_block2 {
  margin-top: 29px;
}

.news1 {
  width: 220px;
  margin: 58px 0px 0px 28px;
  font-weight: 300;
}

.c6_text1 {
  line-height: normal;
  float: none;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.news2 {
  width: 220px;
  margin: 176px 0px 0px 20px;
  font-weight: 300;
}

.c6_text2 {
  line-height: normal;
  float: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.news3 {
  width: 214px;
  margin: 157px 0px 0px 20px;
  font-weight: 300;
}

.c6_text3 {
  line-height: normal;
  float: none;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.news5 {
  width: 220px;
  margin: 58px 0px 0px 303px;
  font-weight: 300;
}

.news6 {
  width: 214px;
  margin: 136px 0px 0px 20px;
  font-weight: 300;
}

/* Блок 7 */

.We {
  height: 1382px;
  padding-top: 75px;
}

.container7_1 {
  margin: 72px auto 0px auto;
  width: 1120px;
}

.c7_title {
  width: 138px;
  height: 75px;
  color: black;
  font-family: 'Rasfire Regular Personal Use';
  font-size: 85px;
  margin-right: 19px;
  padding-top: 6px;
  margin-left: -3px;
}

.c7_text1 {
  font-size: 16px;
  line-height: 26px;
}

.c7_block1 {
  height: 322px;
  width: 526px;
}

.We1 {
  float: right;
  width: 544px;
  height: 359px;
}

.We1 img,
.We2 img {
  margin: 0;
  width: 100%;
  height: 100%;
}

.c7_block2 {
  margin-top: -21px;
}

.We2 {
  float: left;
  margin-right: 32px;
}

.c7_text2 {
  float: left;
  padding-top: 72px;
  width: 352px;
  height: 182px;
  margin-right: 32px;
}

.c7_text3 {
  float: left;
  width: 352px;
  height: 130px;
  padding-top: 72px;
}

.container7_2 {
  margin-top: 88px;
  width: 1120px;
  height: 216px;
  border-top: 1px #D4D4D4 solid;
  border-bottom: 1px #D4D4D4 solid;
  text-align: center;
}

.c7_2_block1 {
  width: 263px;
  height: 87px;
  margin: 65px 67px auto 54px;
}

.c7_2_vline {
  height: 63px;
  border-left: #D4D4D4 1px solid;
  margin: 75px 0 auto 0;
}

.c7_2_block2 {
  width: 313px;
  height: 133px;
  margin: 42px 30px auto 20px;
}

.c7_2_block3 {
  width: 274px;
  height: 107px;
  margin: 55px auto auto 57px;
}

.c7_2_h {
  font-size: 24px;
  margin-bottom: 27px;
}

.c7_2_block2 div:nth-child(2) {
  height: 52px;
  line-height: 26px;
  margin-bottom: 6px;
}

.c7_2_block2 div:first-of-type {
  height: 28px;
  margin-bottom: 21px;
}

.c7_2_block2 div:nth-of-type(3) {
  height: 26px;
  line-height: 26px;
}

.c7_2_block2 span {
  text-decoration: underline;
}

.c7_2_block3 div:first-of-type {
  height: 28px;
  margin-bottom: 27px;
}

.c7_2_block3 div:last-of-type {
  height: 52px;
  line-height: 26px;
}

.logo {
  width: 263px;
  height: 32px;
  margin-top: 31px;
}

.logo1,
.logo2,
.logo3,
.logo5 {
  margin-right: 15px;
}

.logo4 {
  margin-right: 11px;
}

/* Блок 8 */

.container8 {
  background: url(../img/8_экран.png) no-repeat;
  height: 454px;
  padding-top: 1px;
}

.c8_block1 {
  background-color: white;
  width: 1120px;
  height: 133px;
  margin: 140px auto 0px auto;
  border-radius: 30px;
}

.c8_p1 {
  font-family: Roboto;
  line-height: normal;
  width: 290px;
  height: 56px;
  font-size: 24px;
  margin: 39px 0px auto 64px;
}

.c8_p1 span {
  font-style: italic;
}

.c8_p2 {
  font-family: Roboto;
  line-height: normal;
  width: 171px;
  height: 57px;
  font-size: 16px;
  font-weight: 300;
  margin: 38px 0px 0px 68px;
}

.c8_p3 {
  font-family: Roboto;
  line-height: normal;
  width: 144px;
  height: 49px;
  font-size: 12px;
  font-weight: 300;
  margin: 42px 0px 0px 68px;
  color: #BDBDBD;
}

.c8_p4 {
  background-color: #EC1C24;
  border-radius: 30px;
  font-family: Roboto;
  line-height: 20px;
  width: 168px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  margin: 46px 0px 0px 68px;
  color: #ffff;
  padding: 11px 0px 10px 28px;
}

.container9 {
  background-color: black;
  height: 447px;
  padding-top: 1px;
  margin-top: -41px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.c9_block1 {
  width: 1120px;
  height: 168px;
  margin: 0px auto;
  color: white;
  line-height: normal;
}

.c9_block1>div:first-of-type {
  margin-top: 52px;
}

.c9_block1>div:nth-of-type(2) {
  width: 410px;
  height: 40px;
  margin-top: 61px;
}

.c9_block1>div:nth-of-type(2) div:first-child {
  font-size: 12px;
  height: 40px;
  align-content: center;
}

.c9_block1>div:nth-of-type(2) div:last-child {
  font-size: 16px;
  color: #737373;
  border-radius: 30px;
  width: 240px;
  height: 40px;
  border: white solid 1px;
  margin-right: 0;
  font-weight: normal;

}

.footer {
  height: 111px;
  width: 1120px;
  margin: 0 auto;
  border-top: #494949 solid 1px;
  border-bottom: #494949 solid 1px;
}